
:root {
    --fft-window-text-font-color: rgb(50, 40, 20);

    --fft-window-text-font-family: '源暎ゴシックP', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --fft-window-title-font-family: 'Footlight MT', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --fft-window-border-color: rgb(50, 40, 20);
    --fft-window-shadow-color: rgb(50, 40, 20);
    
    --fft-window-text-shadow-color: rgb(126, 120, 100);
    --fft-window-title-shadow-color: black;
}

#content {
    width: 500px;
}

.fft-window {
    border: 2px solid var(--fft-window-border-color);
    border-radius: 2px;
    box-shadow: 
        0px 0px 0px var(--fft-window-shadow-color), 
        1px 0.9px 0px var(--fft-window-shadow-color), 
        2px 1.8px 0px var(--fft-window-shadow-color), 
        3px 2.7px 0px var(--fft-window-shadow-color), 
        4px 3.6px 0px var(--fft-window-shadow-color),  
        0.9px 1px 0px var(--fft-window-shadow-color),
        1.8px 2px 0px var(--fft-window-shadow-color), 
        2.7px 3px 0px var(--fft-window-shadow-color), 
        3.6px 4px 0px var(--fft-window-shadow-color);
    background-image: url("./window-block.png");
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: var(--fft-window-text-font-family);
    text-shadow: var(--fft-window-text-shadow-color) 1px 1px 0px;
    font-weight: 600;
    color: var(--fft-window-text-font-color);
}
.fft-window.with-title {
    padding-top: 25px;
    margin-top: 10px;
}
.fft-window .title {
    color: white;
    text-shadow:
        1px 1px 1px var(--fft-window-title-shadow-color),
        -1px 1px 1px var(--fft-window-title-shadow-color),
        1px -1px 1px var(--fft-window-title-shadow-color),
        -1px -1px 1px var(--fft-window-title-shadow-color);
    font-family: var(--fft-window-title-font-family);
    margin-top: -35px;
    margin-left: -10px;
    font-weight: 900;
}
.unit_name {
    display: inline;
}
.unit_build {
    display: inline;
    position: absolute;
    left: 120px;
}
.unit_restriction {
    display: inline;
    position: absolute;
    left: 300px;
}